roofstockProd/force-app/main/default/flows/Certification_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Transaction_ID</name>
        <label>Assign Transaction ID</label>
        <locationX>102</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>TransactionRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseSubjectDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision split on which case subject to use</description>
        <name>CaseSubjectDecision</name>
        <label>CaseSubjectDecision</label>
        <locationX>180</locationX>
        <locationY>466</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Appraisal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Financing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appraisal_Case</targetReference>
            </connector>
            <label>Appraisal</label>
        </rules>
        <rules>
            <name>Appraisal_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appraisal_Inspection</targetReference>
            </connector>
            <label>Appraisal &amp; Inspection</label>
        </rules>
        <rules>
            <name>Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Financing_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspection_Case</targetReference>
            </connector>
            <label>Inspection</label>
        </rules>
        <rules>
            <name>MLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspection_Case</targetReference>
            </connector>
            <label>MLS</label>
        </rules>
    </decisions>
    <description>Auto-creating Certification cases (Appraisal, Appraisal &amp; Inspection, Inspection)</description>
    <interviewLabel>Certification Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certification Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Appraisal only</description>
        <name>Create_Appraisal_Case</name>
        <label>Create Appraisal Case</label>
        <locationX>51</locationX>
        <locationY>590</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectAppraisal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Appraisal and Inspection Case</description>
        <name>Create_Appraisal_Inspection</name>
        <label>Create Appraisal &amp; Inspection</label>
        <locationX>192</locationX>
        <locationY>620</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectInspectionAppraisal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Inspection case only</description>
        <name>Create_Inspection_Case</name>
        <label>Create Inspection Case</label>
        <locationX>332</locationX>
        <locationY>588</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Assign_Transaction_ID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inspection_Contingency__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Financing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Escrow</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SubjectAppraisal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Appraisal - {!Address}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectInspection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Inspection - {!Address}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectInspectionAppraisal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Inspection &amp; Appraisal - {!Address}</text>
    </textTemplates>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Certification</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Record Type Certification</description>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0121C000001DcLdQAK</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Type Scheduling</description>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Scheduling</stringValue>
        </value>
    </variables>
    <variables>
        <description>Seller Contact Id</description>
        <name>SellerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID to relate to the case</description>
        <name>TransactionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAppraisal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Appraisal - &quot; &amp; {!$Record.Address1__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInspection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Inspection - &quot; &amp; {!$Record.Address1__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInspectionAppraisal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Inspection &amp; Appraisal - &quot; &amp; {!$Record.Address1__c}</stringValue>
        </value>
    </variables>
</Flow>
