roofstockProd/force-app/main/default/flows/Create_Inspection_Case_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign Address And Contact ID</description>
        <name>Assign_Address_And_Contact_ID</name>
        <label>Assign Address And Contact ID</label>
        <locationX>547</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transaction_Record.Property_Instance__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transaction_Record.PM_Seller_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Subject_Decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Case Subject Decision</description>
        <name>Case_Subject_Decision</name>
        <label>Case Subject Decision</label>
        <locationX>539</locationX>
        <locationY>216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.Listing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create</targetReference>
            </connector>
            <label>MLS</label>
        </rules>
        <rules>
            <name>Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Record.Financing_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create</targetReference>
            </connector>
            <label>Inspection</label>
        </rules>
        <rules>
            <name>Appraisal_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Record.Financing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspection_Case</targetReference>
            </connector>
            <label>Appraisal &amp; Inspection</label>
        </rules>
    </decisions>
    <description>Create Inspection Case Records</description>
    <interviewLabel>Create Inspection Case Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inspection Case Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Inspection Case</description>
        <name>Create</name>
        <label>Create Inspection Case</label>
        <locationX>818</locationX>
        <locationY>212</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>certificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Get_Transaction_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Inspection Case</description>
        <name>Create_Inspection_Case</name>
        <label>Create Inspection Case</label>
        <locationX>551</locationX>
        <locationY>474</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>certificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>caseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subjectInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>Get_Transaction_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Transaction Record</description>
        <name>Get_Transaction_Record</name>
        <label>Get Transaction Record</label>
        <locationX>141</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Address_And_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>17</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Get_Transaction_Record</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR 2</filterLogic>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acquisition Buy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail Sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_Entity__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SFRES</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>subjectInspection</description>
        <name>subjectInspection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Inspection - {!Address}</text>
    </textTemplates>
    <variables>
        <description>Address</description>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>CaseOrigin</description>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Certification</stringValue>
        </value>
    </variables>
    <variables>
        <description>caseRecordTypeId</description>
        <name>caseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0121C000001DcLdQAK</stringValue>
        </value>
    </variables>
    <variables>
        <description>certificationQueueId</description>
        <name>certificationQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G4v000004tF8bEAE</stringValue>
        </value>
    </variables>
    <variables>
        <description>Seller Contact Id</description>
        <name>SellerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
