roofstockProd/force-app/main/default/flows/CsatSellersPublishSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CsatSellersPublishSurvey_0</name>
        <label>CsatSellersPublishSurvey</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Listing__c.GF_Survey_CsatSellersPublish_780d333a</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Validate_Seller_Name_Email</name>
        <label>Validate Seller Name Email</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CsatSellersPublishSurvey_0</targetReference>
            </connector>
            <label>Validated</label>
        </rules>
    </decisions>
    <formulas>
        <name>SellerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Latest_Certification_Seller_info.Seller_Contact__r.FirstName}+&apos; &apos;+{!Get_Latest_Certification_Seller_info.Seller_Contact__r.LastName}</expression>
    </formulas>
    <interviewLabel>CsatSellersPublishSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Csat Sellers Publish Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Certification_Seller_info</name>
        <label>Get Latest Certification Seller info</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Seller_Info_On_Listing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certification_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certification__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Seller_Info_On_Listing</name>
        <label>Update Seller Info On Listing</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Validate_Seller_Name_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Seller_Contact_Email__c</field>
            <value>
                <elementReference>Get_Latest_Certification_Seller_info.Seller_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Contact_Name__c</field>
            <value>
                <elementReference>SellerName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Latest_Certification_Seller_info</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Sale</stringValue>
            </value>
        </filters>
        <object>Listing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
