roofstockProd/force-app/main/default/flows/CsatCancelBuyersSellersSurvey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CsatCancelBuyersSurvey_0_0</name>
        <label>CsatCancelBuyersSurvey</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Transaction__c.GF_Survey_CsatCancelBuyers_45b4015a</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Validate_Name_Email</name>
        <label>Validate Name Email</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validated_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact1_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CsatCancelBuyersSurvey_0_0</targetReference>
            </connector>
            <label>Validated Buyer</label>
        </rules>
    </decisions>
    <interviewLabel>CsatCancelBuyersSellers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Csat Cancel Buyers Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Buyer_Email</name>
        <label>Update Buyer Email</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Validate_Name_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Contact1_Email__c</field>
            <value>
                <elementReference>$Record.Buyer_Contact1__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Buyer_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Acquisition Buy</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
