roofstockProd/force-app/main/default/flows/Delete_Debug_Logs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Debug Logs to be deleted</description>
        <name>Debug_Logs_to_be_deleted</name>
        <label>Debug Logs to be deleted</label>
        <locationX>784</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>deleteDebugLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Debug_Logs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Debug_Logs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get debug Log Records</description>
        <name>Get_debug_Log_Records</name>
        <label>Get debug Log Records</label>
        <locationX>144</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>DebugLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Debug_Logs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if record an be deleted</description>
        <name>Check_if_record_an_be_deleted</name>
        <label>Check if record can be deleted</label>
        <locationX>771</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Differencebetweentodayandrecordcreateddate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>240.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Debug_Logs_to_be_deleted</targetReference>
            </connector>
            <label>delete</label>
        </rules>
    </decisions>
    <description>Delete Debug Logs</description>
    <formulas>
        <description>Difference between today and record createddate</description>
        <name>Differencebetweentodayandrecordcreateddate</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDateTime} - {!Iterate_Debug_Logs.CreatedDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Delete Debug Logs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Debug Logs</label>
    <loops>
        <description>Iterate Debug Logs</description>
        <name>Iterate_Debug_Logs</name>
        <label>Iterate Debug Logs</label>
        <locationX>463</locationX>
        <locationY>249</locationY>
        <collectionReference>DebugLogList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_record_an_be_deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Debug_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete Debug Logs</description>
        <name>Delete_Debug_Logs</name>
        <label>Delete Debug Logs</label>
        <locationX>459</locationX>
        <locationY>466</locationY>
        <inputReference>deleteDebugLogList</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_debug_Log_Records</targetReference>
        </connector>
        <object>DebugLog__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-09-07</startDate>
            <startTime>17:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>DebugLogList</description>
        <name>DebugLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DebugLog__c</objectType>
    </variables>
    <variables>
        <description>deleteDebugLogList</description>
        <name>deleteDebugLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DebugLog__c</objectType>
    </variables>
</Flow>
