roofstockProd/force-app/main/default/flows/Flow_On_Transaction_Task_To_Update_Task_Status_On_Review_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assign Open Task</description>
        <name>Assign_Open_Task_0</name>
        <label>Assign Open Task</label>
        <locationX>270</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>TaskStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Taks_Under_Review_Checklist_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get Review Checklist Id</description>
        <name>Get_review_Checklist_Id</name>
        <label>Get review Checklist Id</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ReviewChecklistId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Review_Checklist__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Tasks_Under_Review_Checklist_Record_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Transaction Record Type Id</description>
        <name>Transaction_Record_Type_Id</name>
        <label>Transaction Record Type Id</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Record_Type_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Task_Record_Type_is_Transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if any task is Open</description>
        <name>Check_if_any_task_is_Open_0</name>
        <label>Check if any task is Open</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Iterate_All_Taks_Under_Review_Checklist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Task_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Open_Task_0</targetReference>
            </connector>
            <label>Open Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Task Record Type is Transaction</description>
        <name>Check_if_the_Task_Record_Type_is_Transaction</name>
        <label>Check if the Task Record Type is Transaction</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transaction_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_review_Checklist_Id</targetReference>
            </connector>
            <label>Transaction Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Task Status</description>
        <name>Check_Task_Status_0</name>
        <label>Check Task Status</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Update_Status_On_Review_Checklist_to_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_On_Review_Checklist_to_Open_0</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <description>Flow On Transaction Task To Update Task Status On Review Checklist</description>
    <interviewLabel>Flow On Transaction Task To Update Task Status On Review Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow On Transaction Task To Update Task Status On Review Checklist</label>
    <loops>
        <description>Iterate All Taks Under Review Checklist</description>
        <name>Iterate_All_Taks_Under_Review_Checklist_0</name>
        <label>Iterate All Taks Under Review Checklist</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_All_Tasks_Under_Review_Checklist_Record_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_any_task_is_Open_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Task_Status_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Tasks Under Review Checklist Record</description>
        <name>Get_All_Tasks_Under_Review_Checklist_Record_1</name>
        <label>Get All Tasks Under Review Checklist Record</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Taks_Under_Review_Checklist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewChecklistId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_All_Taks_Under_Review_Checklist_0.Transaction__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Task Record Type - Transaction</description>
        <name>Get_Task_Record_Type_Transaction</name>
        <label>Get Task Record Type - Transaction</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Status On Review Checklist to Closed</description>
        <name>Update_Status_On_Review_Checklist_to_Closed</name>
        <label>Update Status On Review Checklist to Closed</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Task_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Review_Checklist__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Status On Review Checklist to Open</description>
        <name>Update_Status_On_Review_Checklist_to_Open_0</name>
        <label>Update Status On Review Checklist to Open</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReviewChecklistId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Task_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Review_Checklist__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Review Checklist</stringValue>
            </value>
        </filters>
        <filters>
            <field>Review_Checklist__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>OpenTask</description>
        <name>OpenTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Type Id</description>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ReviewChecklistId</description>
        <name>ReviewChecklistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Task Status</description>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
