roofstockProd/force-app/main/default/flows/Lease_Record_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>APPRStatusScheduled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled</stringValue>
        </value>
    </constants>
    <constants>
        <name>APPRStatusSelected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Selected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_APPR_Status_Changed</name>
        <label>APPR Status Changed (Selected, Scheduled, Blank)</label>
        <locationX>465</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Renewal_Oppty_Update_Required</name>
            <conditionLogic>11 AND ((8 AND 9) OR (1 AND 2 AND ( (3 AND 4) OR (5 AND 6) OR 7 OR 10 )))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APPR_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APPR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APPRStatusSelected</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APPR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>APPRStatusScheduled</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APPR_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isM2M__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isM2M__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APPR_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Opportunity__r.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Renewal_Oppty</targetReference>
            </connector>
            <label>Is Renewal Oppty Update Required?</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculate New Opportunity Stage based on the APPR Status and current Oppty Stage</description>
        <name>NewOpptyStage</name>
        <dataType>String</dataType>
        <expression>IF ( AND ( {!$Record.isM2M__c}, ISCHANGED({!$Record.isM2M__c})),
   &apos;Closed M2M&apos;,
   IF ( OR (ISBLANK({!$Record.APPR_Status__c} ), {!$Record.APPR_Status__c} == null ), 
       &apos;Closed Renewed&apos;, 
       IF ( AND( {!$Record.APPR_Status__c} == &apos;Selected&apos;,  TEXT({!$Record.Renewal_Opportunity__r.stagename}) == &apos;Approved&apos;),  
              &apos;Selected&apos;,
              IF ( AND( {!$Record.APPR_Status__c} == &apos;Scheduled&apos;,  TEXT({!$Record.Renewal_Opportunity__r.stagename}) == &apos;Selected&apos;),  
                     &apos;Scheduled&apos;, 
                     TEXT({!$Record.Renewal_Opportunity__r.stagename})
               )
         )
   )
)</expression>
    </formulas>
    <interviewLabel>Lease Record Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lease Record Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Renewal_Oppty</name>
        <label>Update Renewal Oppty</label>
        <locationX>233</locationX>
        <locationY>523</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>NewOpptyStage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>347</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Is_APPR_Status_Changed</targetReference>
        </connector>
        <object>Lease__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
