roofstockProd/force-app/main/default/flows/PB_Launched_Certification_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Transaction_ID</name>
        <label>Assign Transaction ID</label>
        <locationX>72</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transaction_Record_ID.Property_Instance__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPmSellerContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transaction_Record_ID.PM_Seller_Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CaseSubjectDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision split on which case subject to use</description>
        <name>CaseSubjectDecision</name>
        <label>CaseSubjectDecision</label>
        <locationX>180</locationX>
        <locationY>465</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MLS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Listing_Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MLS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspection_Case</targetReference>
            </connector>
            <label>MLS</label>
        </rules>
        <rules>
            <name>Appraisal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Financing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appraisal_Case</targetReference>
            </connector>
            <label>Appraisal</label>
        </rules>
        <rules>
            <name>Appraisal_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Financing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Appraisal_Inspection</targetReference>
            </connector>
            <label>Appraisal &amp; Inspection</label>
        </rules>
        <rules>
            <name>Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Inspection_Contingency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Transaction_Record_ID.Financing_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Financing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inspection_Case</targetReference>
            </connector>
            <label>Inspection</label>
        </rules>
    </decisions>
    <interviewLabel>PB Launched Certification Case Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PB Launched Certification Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Appraisal only</description>
        <name>Create_Appraisal_Case</name>
        <label>Create Appraisal Case</label>
        <locationX>51</locationX>
        <locationY>590</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varPmSellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCertificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectAppraisal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Inspection Case first</description>
        <name>Create_Appraisal_Inspection</name>
        <label>Create Inspection Case</label>
        <locationX>175</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>Create_Appraisal_Second</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varPmSellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCertificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Appraisal_Second</name>
        <label>Create Appraisal Second</label>
        <locationX>175</locationX>
        <locationY>851</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varPmSellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCertificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectAppraisal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Inspection case only</description>
        <name>Create_Inspection_Case</name>
        <label>Create Inspection Case</label>
        <locationX>332</locationX>
        <locationY>588</locationY>
        <inputAssignments>
            <field>Assigned_Team__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varPmSellerContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCertificationQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectInspection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Transaction_Record_ID</name>
        <label>Get Transaction Record ID</label>
        <locationX>235</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Transaction_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TransactionRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Get_Transaction_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubjectAppraisal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Appraisal - {!Address}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectInspection</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Inspection - {!Address}</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectInspectionAppraisal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>IN CONTRACT - Schedule Inspection &amp; Appraisal - {!Address}</text>
    </textTemplates>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Transaction_Record_ID.Property_Instance__r.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Certification</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Record Type Certification</description>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0121C000001DcLdQAK</stringValue>
        </value>
    </variables>
    <variables>
        <description>Case Type Scheduling</description>
        <name>CaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Scheduling</stringValue>
        </value>
    </variables>
    <variables>
        <description>Seller Contact Id</description>
        <name>SellerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID to relate to the case</description>
        <name>TransactionRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAppraisal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Appraisal - &quot; &amp; {!Get_Transaction_Record_ID.Address1__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCertificationQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00G4v000004tF8b</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInspection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Inspection - &quot; &amp; {!Get_Transaction_Record_ID.Address1__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varInspectionAppraisal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&quot;IN CONTRACT - Schedule Inspection &amp; Appraisal - &quot; &amp; {!Get_Transaction_Record_ID.Address1__c}</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPmSellerContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
