roofstockProd/force-app/main/default/flows/ProcessMultipleBpoRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Update_BPO_Records1</name>
        <label>Update BPO Records</label>
        <locationX>834</locationX>
        <locationY>69</locationY>
        <actionName>BpoListViewController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FlowFinished</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>branchId</name>
            <value>
                <elementReference>Branch_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idList</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pool</name>
            <value>
                <elementReference>Pool_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>product</name>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AddUpdBposToList</name>
        <label>Add Updated BPOs To List</label>
        <locationX>1118</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>BposToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopBpoRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopBpoRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateBpoRecord</name>
        <label>Update BPO Record</label>
        <locationX>1223</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>loopBpoRecords.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopBpoRecords.Pool_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pool_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopBpoRecords.Branch_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Branch_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopBpoRecords.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdBposToList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RecordsSelectedByUser</name>
        <label>Records Selected By User?</label>
        <locationX>1258</locationX>
        <locationY>524</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BpoSelectedRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>RecordsSelected</label>
        </rules>
        <rules>
            <name>RecordsNotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BpoSelectedRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>RecordsNotSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordsSelectedByUser_0</name>
        <label>Records Selected By User?</label>
        <locationX>464</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BPO_Order_Details</targetReference>
            </connector>
            <label>RecordsSelected</label>
        </rules>
        <rules>
            <name>RecordsNotSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecsNotSelected</targetReference>
            </connector>
            <label>RecordsNotSelected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ProductChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product__c</picklistField>
        <picklistObject>Broker_Price_Opinion__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ProcessMultipleBpoRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProcessMultipleBpoRecords</label>
    <loops>
        <name>loopBpoRecords</name>
        <label>Loop Thro BPO Records</label>
        <locationX>989</locationX>
        <locationY>234</locationY>
        <collectionReference>BpoSelectedRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateBpoRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_BPO_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_BPO_Records</name>
        <label>Update BPO Records</label>
        <locationX>724</locationX>
        <locationY>434</locationY>
        <inputReference>BposToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>BPO_Order_Details</name>
        <label>BPO Order Details</label>
        <locationX>680</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_BPO_Records1</targetReference>
        </connector>
        <fields>
            <name>BPODetails1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;BPO Order Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>ProductChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pool_Name</name>
            <dataType>String</dataType>
            <fieldText>Pool Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Branch_Id</name>
            <dataType>String</dataType>
            <fieldText>Branch Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FlowFinished</name>
        <label>Flow Finished</label>
        <locationX>999</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowfinished1</name>
            <fieldText>&lt;p&gt;Your BPO orders have been confirmed.&lt;/p&gt;&lt;p&gt;Please close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Please select records.</description>
        <name>RecsNotSelected</name>
        <label>BPO Records Not Selected</label>
        <locationX>472</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>recsnotselected1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Please select some records&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RecordsSelectedByUser_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BpoSelectedRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Broker_Price_Opinion__c</objectType>
    </variables>
    <variables>
        <name>BposToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Broker_Price_Opinion__c</objectType>
    </variables>
    <variables>
        <description>Ids of the selected BPO records.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
