roofstockProd/force-app/main/default/flows/Scheduled_Follow_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Appraisal_Follow_up</name>
        <label>Post Appraisal Follow up</label>
        <locationX>486</locationX>
        <locationY>293</locationY>
        <actionName>Transaction__c.Post_Appraisal_Follow_up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_PSA_Follow_up</name>
        <label>Post PSA Follow up</label>
        <locationX>506</locationX>
        <locationY>84</locationY>
        <actionName>Transaction__c.Post_PSA_Follow_up</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Scheduled Follow Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Follow Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>18</locationX>
        <locationY>31</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2 OR 3 OR 4 ) AND 5 AND 6</filterLogic>
        <filters>
            <field>Listing_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Direct</stringValue>
            </value>
        </filters>
        <filters>
            <field>Listing_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Co-List</stringValue>
            </value>
        </filters>
        <filters>
            <field>Listing_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Listing_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>retail sale</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transaction_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Transaction Completed,Transaction Cancelled</stringValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_days_after_Executed_PSA_In_Contract_date</name>
            <connector>
                <targetReference>Post_PSA_Follow_up</targetReference>
            </connector>
            <label>10 days after Executed PSA “In Contract date”</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>In_Contract_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_days_after_scheduled_appraisal_date</name>
            <connector>
                <targetReference>Post_Appraisal_Follow_up</targetReference>
            </connector>
            <label>2 days after scheduled appraisal date</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Appraisal_Exp_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
