roofstockProd/force-app/main/default/flows/Send_Recurring_to_Broker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recurring_Email_Alert</name>
        <label>Recurring Email Alert</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Review_Checklist__c.Recurring_Transaction_Snapshot_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Check If Due Date is Elapsed</description>
        <name>Check_If_Due_Date_is_Elapsed</name>
        <label>Check If Due Date is Elapsed</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Due_Date_Elapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Due_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurring_Email_Alert</targetReference>
            </connector>
            <label>Due Date Elapsed</label>
        </rules>
    </decisions>
    <description>Send Recurring to Broker</description>
    <interviewLabel>Send Recurring to Broker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Recurring Emails to Broker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Due_Date_is_Elapsed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Review_Checklist__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-23</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
