roofstockProd/force-app/main/default/flows/Transaction_Snapshot_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Request Broker Contact For Documents</description>
        <name>Request_Broker_Contact_For_Documents_0</name>
        <label>Request Broker Contact For Documents</label>
        <locationX>248</locationX>
        <locationY>815</locationY>
        <actionName>Review_Checklist__c.Transaction_Snapshot_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Task Record Type</description>
        <name>Task_Record_Type</name>
        <label>Task Record Type</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Get_Id_of_Record_Type_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check If Task Already Exist</description>
        <name>Check_If_Task_Already_Exist</name>
        <label>Check If Task Already Exist</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Records.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Description</targetReference>
            </connector>
            <label>Task Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>380</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCreateTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Create_task__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Task_Already_Exist</targetReference>
            </connector>
            <label>isCreateTask</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CreateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Broker_Contact_For_Documents_0</targetReference>
            </connector>
            <label>isSendEmail</label>
        </rules>
    </decisions>
    <description>Transaction Snapshot Flow</description>
    <formulas>
        <description>Due Date</description>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2</expression>
    </formulas>
    <formulas>
        <description>TaskSubject</description>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Transaction__r.Name}+&apos;| Missing Documents/Incorrect Information&apos;</expression>
    </formulas>
    <interviewLabel>Transaction Snapshot Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Snapshot Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Email Message</description>
        <name>Create_Email_Message_0</name>
        <label>Create Email Message</label>
        <locationX>248</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Uncheck_Send_Email_Checkbox_0</targetReference>
        </connector>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>$Record.Email_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record__Prior.Broker_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>$Record.Transaction__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Task</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Due_Date_On_Task_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Email_Body__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Transaction__r.Roofstock_TC_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Checklist__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>$Record.Transaction__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Review Checklist</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Transaction__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Task Records</description>
        <name>Get_Task_Records</name>
        <label>Get Task Records</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Missing Documents</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Task - Get Id of Record Type Transaction</description>
        <name>Task_Get_Id_of_Record_Type_Transaction</name>
        <label>Task - Get Id of Record Type Transaction</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transaction_Tasks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Uncheck Send Email Checkbox</description>
        <name>Uncheck_Send_Email_Checkbox_0</name>
        <label>Uncheck Send Email Checkbox</label>
        <locationX>248</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Due Date On Task Creation</description>
        <name>Update_Due_Date_On_Task_Creation</name>
        <label>Update Due Date On Task Creation</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Task Description</description>
        <name>Update_Task_Description</name>
        <label>Update Task Description</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Email_Body__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Get_Id_of_Record_Type_Transaction</targetReference>
        </connector>
        <object>Review_Checklist__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
