roofstockProd/force-app/main/default/flows/Update_Case_Parent_To_Contact_Post_Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign Converted Contact Id as a Parent Id</description>
        <name>Assign_Converted_Contact_Id_as_a_Parent_Id</name>
        <label>Assign Converted Contact Id as a Parent Id</label>
        <locationX>869</locationX>
        <locationY>185</locationY>
        <assignmentItems>
            <assignToReference>Iterate_the_Ask_Question_Cases.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Each_Record_To_the_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Each Record To the List</description>
        <name>Assign_Each_Record_To_the_List</name>
        <label>Assign Each Record To the List</label>
        <locationX>869</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>caseList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_the_Ask_Question_Cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_the_Ask_Question_Cases</targetReference>
        </connector>
    </assignments>
    <description>Update Case Parent To Contact Post Lead Conversion</description>
    <interviewLabel>Update Case Parent To Contact Post Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Parent To Contact Post Lead Conversion</label>
    <loops>
        <description>Iterate the Ask Question Cases and update Parent id to contact id</description>
        <name>Iterate_the_Ask_Question_Cases</name>
        <label>Iterate the Ask Question Cases</label>
        <locationX>606</locationX>
        <locationY>49</locationY>
        <collectionReference>Get_All_the_Cases_Associated_to_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Converted_Contact_Id_as_a_Parent_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_the_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All the Cases Associated to Lead</description>
        <name>Get_All_the_Cases_Associated_to_Lead</name>
        <label>Get All the Cases Associated to Lead</label>
        <locationX>211</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_the_Ask_Question_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ask a question</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update All the Cases</description>
        <name>Update_All_the_Cases</name>
        <label>Update All the Cases</label>
        <locationX>521</locationX>
        <locationY>403</locationY>
        <inputReference>caseList</inputReference>
    </recordUpdates>
    <start>
        <locationX>77</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Get_All_the_Cases_Associated_to_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedContactId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>caseList</description>
        <name>caseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
