roofstockProd/force-app/main/default/flows/Utility_Request_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Utility_Request_Assignment</name>
        <label>Utility Request Assignment</label>
        <locationX>304</locationX>
        <locationY>666</locationY>
        <assignmentItems>
            <assignToReference>CaseTableRow</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td&gt;{!Utility_Request_loop.CaseNumber}&lt;/td&gt;&lt;td&gt;{!Utility_Request_loop.Status}&lt;/td&gt;&lt;td&gt;{!Utility_Request_loop.Priority}&lt;/td&gt;&lt;td&gt;{!Utility_Request_loop.OwnerId}&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;https://roofstock.lightning.force.com/lightning/r/Utility_Request__c/{!Utility_Request_loop.Id}/view&quot; class=&quot;slds-text-link&quot;&gt; Link&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>utilityType_from_descripton</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Utility_Request_loop.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Utility_Request_loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Can_you_turn_the_water_on_at_the_meter</name>
        <choiceText>Can you turn the water on at the meter?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Cycle_all_electric_breakers</name>
        <choiceText>Cycle all electric breakers, including the main breaker located outside by the meter</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Electric</name>
        <choiceText>Electric</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Is_the_meter_on_but_no_water_to_the_house</name>
        <choiceText>Is the meter on but no water to the house? Locate the main water valve for the house and turn it on.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Is_there_a_lock_on_the_meter</name>
        <choiceText>Is there a lock on the meter?</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_hot_water_and_the_gas_meter_is_unlocked</name>
        <choiceText>No hot water, and the gas meter is unlocked. Please try to light the pilot lights.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Trash</name>
        <choiceText>Trash</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Water</name>
        <choiceText>Water</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>File_upload_Decision</name>
        <label>File upload Decision</label>
        <locationX>1426</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Get_Utility_Request_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>show_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_I_reviewed_and_I_want_to_create_a_new_utility_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meter_Picture</targetReference>
            </connector>
            <label>show upload</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_if_same_Utility_req_exist</name>
        <label>Match if same Utility req exist</label>
        <locationX>1544</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>Create_Utility_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>maching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>utilityType_from_descripton</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Selected_uyility_type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Utility_Request</targetReference>
            </connector>
            <label>maching</label>
        </rules>
    </decisions>
    <decisions>
        <name>troubleshoot_decision</name>
        <label>troubleshoot decision</label>
        <locationX>657</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Info_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_tried</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_tried_to_troubleshoot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Utility_Details</targetReference>
            </connector>
            <label>Yes_tried</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_I_Reviewed_Decision</name>
        <label>Yes I Reviewed Decision</label>
        <locationX>1035</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Info_page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reviewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_I_reviewed_and_I_want_to_create_a_new_utility_request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Utility_Request_Form</targetReference>
            </connector>
            <label>Yes Reviewed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>utilityTypeChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Utility_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Description Data For Case</description>
        <name>descriptionDataForCase</name>
        <dataType>String</dataType>
        <expression> &quot;1. Have you tried to troubleshoot? &quot;+ BR() + {!Have_you_tried_to_troubleshoot} + BR() + BR() + &quot;2. Yes I reviewed and I want to create a new utility request &quot; + BR() + IF({!Yes_I_reviewed_and_I_want_to_create_a_new_utility_request}, &quot;Yes&quot;,&quot;No&quot;) + BR() + BR() + &quot;3.  Resident Issue? &quot; + BR() + {!Resident_Issue} + BR() + BR() + &quot;4.  Utility Type &quot; + BR() + SUBSTITUTE({!Utility_Type}, &quot;;&quot;, BR()) + BR() + BR() + &quot;5. Any additional information needed. &quot; + BR() + {!Any_additional_information_needed} + BR() + BR() + &quot;6. Request submitted by- &quot; + BR() + {!Request_submitted_by} + BR()</expression>
    </formulas>
    <formulas>
        <name>Selected_uyility_type</name>
        <dataType>String</dataType>
        <expression>&quot;4.  Utility Type &quot; + BR() + SUBSTITUTE({!Utility_Type}, &quot;;&quot;, BR())</expression>
    </formulas>
    <interviewLabel>Utility Request Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Utility Request Forms</label>
    <loops>
        <name>Utility_Request_loop</name>
        <label>Utility Request loop</label>
        <locationX>637</locationX>
        <locationY>671</locationY>
        <collectionReference>Get_Total_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Utility_Request_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_Detail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Utility_Case</name>
        <label>Create Utility Case</label>
        <locationX>1519</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>File_upload_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>descriptionDataForCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>{!utilityName.recordName} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilities__c</field>
            <value>
                <elementReference>utilityName.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_Owner_Entity__c</field>
            <value>
                <elementReference>Get_Utility_Details.Owner_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_Type__c</field>
            <value>
                <elementReference>Utility_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get recordtype</label>
        <locationX>807</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utility_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Request</name>
        <label>Get Total Request</label>
        <locationX>634</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Utility_Request_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Utilities__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>utilityName.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Details</name>
        <label>Get Utility Details</label>
        <locationX>653</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>utilityName.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utilities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Request_Number</name>
        <label>Get Utility Request Number</label>
        <locationX>1811</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Utility_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Duplicate_Utility_Request</name>
        <label>Duplicate Utility Request</label>
        <locationX>1848</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DuplicateErrorText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2018</locationX>
        <locationY>421</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayError</name>
            <fieldText>&lt;p&gt;{!errorText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Info_page</name>
        <label>Info page</label>
        <locationX>1026</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Info_page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Info_page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Info_page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thanks_Page</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!infoText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Info_page_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Meter_Picture</name>
        <label>Meter Picture</label>
        <locationX>1802</locationX>
        <locationY>17</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Utility_Request_Number</targetReference>
        </connector>
        <fields>
            <name>Meter_Picture_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meter_Picture_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meter_Picture_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>File_upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meter Picture</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Create_Utility_Case</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Meter_Picture_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_Lookup</name>
        <label>Property Lookup</label>
        <locationX>431</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>troubleshoot_decision</targetReference>
        </connector>
        <fields>
            <name>Property_Lookup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Property_Lookup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Lookup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>utilityName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Utilities__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>1. Property Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Have_you_tried_to_troubleshoot</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2. Have you tried to troubleshoot?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Please_try_the_following_then_if_problem_is_not_resolved_submit_a_request</name>
                    <choiceReferences>Cycle_all_electric_breakers</choiceReferences>
                    <choiceReferences>Is_there_a_lock_on_the_meter</choiceReferences>
                    <choiceReferences>Can_you_turn_the_water_on_at_the_meter</choiceReferences>
                    <choiceReferences>Is_the_meter_on_but_no_water_to_the_house</choiceReferences>
                    <choiceReferences>No_hot_water_and_the_gas_meter_is_unlocked</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>3. Please try the following then, if problem is not resolved submit a request</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Have_you_tried_to_troubleshoot</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Property_Lookup_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Detail</name>
        <label>Record Detail</label>
        <locationX>1119</locationX>
        <locationY>776</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Yes_I_Reviewed_Decision</targetReference>
        </connector>
        <fields>
            <name>Record_Detail_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Record_Detail_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Detail_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Utility_name</name>
                    <fieldText>&lt;p&gt;{!Utility_Details}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!existingRequest}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Yes_I_reviewed_and_I_want_to_create_a_new_utility_request</name>
                    <dataType>Boolean</dataType>
                    <fieldText>&lt;span class=&quot;slds-text-body_regular slds-text-color_default&quot;&gt;&lt;b&gt;Yes I reviewed and I want to create a new utility request&lt;/b&gt;&lt;/span&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Record_Detail_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>2004</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMsg</name>
            <fieldText>&lt;p&gt;{!successText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Utility_Request_Form</name>
        <label>Utility Request Form</label>
        <locationX>1282</locationX>
        <locationY>578</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Match_if_same_Utility_req_exist</targetReference>
        </connector>
        <fields>
            <name>Utility_Request_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Utility_Request_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Utility_Request_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Resident_Issue</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>1. Resident Issue?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Utility_Type</name>
                    <choiceReferences>utilityTypeChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>2. Utility Type</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Any_additional_information_needed</name>
                    <fieldText>3. Any additional information needed</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Request_submitted_by</name>
                    <dataType>String</dataType>
                    <fieldText>4. Request submitted by-</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Utility_Request_Form_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Property_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseTable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered&quot; aria-labelledby=&quot;element-with-table-label other-element-with-table-label&quot; style=&quot;border: 1px solid #d3d6db;&quot;&gt;
  &lt;thead&gt;
    &lt;tr class=&quot;slds-line-height_reset&quot; style=&quot;background-color:#dddddd&quot;&gt;
      &lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;
        &lt;div class=&quot;slds-truncate&quot; title=&quot;Case Number&quot;&gt;Case Number&lt;/div&gt;
      &lt;/th&gt;
      &lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;
        &lt;div class=&quot;slds-truncate&quot; title=&quot;Status&quot;&gt;Status&lt;/div&gt;
      &lt;/th&gt;
      &lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;
        &lt;div class=&quot;slds-truncate&quot; title=&quot;Priority&quot;&gt;Priority&lt;/div&gt;
      &lt;/th&gt;
      &lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;
        &lt;div class=&quot;slds-truncate&quot; title=&quot;Owner&quot;&gt;Owner&lt;/div&gt;
      &lt;/th&gt;
      &lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;
        &lt;div class=&quot;slds-truncate&quot; title=&quot;link&quot;&gt;Link&lt;/div&gt;
      &lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;{!CaseTableRow}
  &lt;/tbody&gt;
 &lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DuplicateErrorText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;slds-text-color_error slds-text-heading_medium slds-text-align_center slds-p-vertical_x-large&quot;&gt;We cannot create a new Utility request at this moment. Open Utility request already exist, please review “Existing Utility Request&quot; &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>errorText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p class=&quot;slds-text-color_error slds-text-heading_medium slds-text-align_center slds-p-vertical_x-large&quot;&gt;There was some error while creating Utility Request.
Please try again.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>existingRequest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;h2&gt;Existing Utility Request :&lt;/h2&gt;&lt;p class=&quot;slds-p-top_medium .slds-text-link&quot;&gt;{!CaseTable}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>infoText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-text-color_success slds-text-align_center&quot;&gt;Thank you. Please try to troubleshoot and if still need any help, Please create a new Utility Request. &lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>successText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p class=&quot;slds-text-heading_medium slds-text-color_success slds-text-align_center slds-p-vertical_x-large&quot;&gt;&lt;span &gt;﻿Your Utility Request has been created and Request Number is: &lt;/span&gt;&lt;b&gt;&lt;a href=&quot;https://roofstock.lightning.force.com/lightning/r/Utility_Request__c/{!Get_Utility_Request_Number.Id}/view&quot;&gt; {!Get_Utility_Request_Number.CaseNumber}&lt;/a&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Utility_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;h2 class=&quot;slds-text-heading_medium slds-m-bottom_xx-small&quot;&gt;{!Get_Utility_Details.Name}&lt;/h2&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered&quot; border=&quot;0.5&quot; style=&quot;white-space: pre;&quot;&gt;    &lt;tbody style=&quot;white-space: pre;&quot;&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Utility Info&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;td&gt;Utilities Status : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Utilities_Status__c}&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;td&gt;Utilities Coordinator : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Utilities_Coordinator__r.Name}&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Gas&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;td&gt;Gas Company : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Gas_Company__r.Name}&lt;/td&gt;&lt;td&gt;Gas Customer ESID or Meter Nunber : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Gas_Customer_ESID_or_Meter_Nunber__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;white-space: pre;&quot;&gt;&lt;td&gt;Gas Account number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Gas_Account_Number__c}&lt;/td&gt;&lt;td&gt;Gas Turned On Date : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Gas_Turned_On_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Water&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Water Company : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Water_Company__r.Name}&lt;/td&gt;&lt;td&gt;Water Customer Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Water_Customer_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Water Account Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Water_Account_Number__c}&lt;/td&gt;&lt;td&gt;Water Turned On Date : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Water_Turned_On_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Trash&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Trash Company : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Trash_Company__r.Name}&lt;/td&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Trash Pick-up Day : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Trash_Pick_up_Day__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Trash  Account Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Trash_Account_Number__c}&lt;/td&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Trash Turned On Date: &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Trash_Turned_On_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Electric&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Electric Company : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Electric_Company__r.Name}&lt;/td&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Electric Customer Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Electric_Customer_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Electric  Account Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Electric_Account_Number__c}&lt;/td&gt;&lt;td style=&quot;white-space: pre;&quot;&gt;Electric Turned On Date : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Electric_Turned_On_Date__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr style=&quot;background-color:#f3f2f2&quot;&gt;&lt;td colspan=&quot;4&quot;&gt;&lt;b&gt;Sewer&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Sewer Company : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Sewer_Company__r.Name}&lt;/td&gt;&lt;td&gt;Sewer Account Number : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Sewer_Account_Number__c}&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Sewer Turned On Date : &lt;/td&gt;&lt;td&gt;{!Get_Utility_Details.Sewer_Turned_On_Date__c}&lt;/td&gt;&lt;td&gt; &lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseTableRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contetntDocumentID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>utilityType_from_descripton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
